# Mac files
.DS_Store
.venv/

# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.env
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

*/*.ipynb
*/.ipynb_checkpoints

#Ignore serialized model everywhere
**/serialized_model*.json

#Items to be ignored for snowflake cli
**/ml_project.zip
**/requirements.snowflake.txt